{% extends 'layouts/front.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<h2>All Posts :</h2>
<div class="dropdown-divider mt-3 mb-5"></div>

{# <img src="{{ asset('build/image/1.jpg') }}"> #}

<div class="scrollBottom d-flex flex-wrap">
    

</div>

{% endblock %}
