{% extends 'layouts/front.html.twig' %}

{% block title %}Hello GameController!{% endblock %}

{% block body %}

<h2 class="mb-3">All games :</h2>
<div class="dropdown-divider mt-3 mb-5"></div>

<div class="d-flex flex-wrap">
{% for game in games %}

    {{ gameStarNbr(game)|raw }}

{% endfor %}

</div>
{% endblock %}
