{% extends 'layouts/front.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}

<h2>Contact us : </h2>


    <div class="dropdown-divider mt-3 mb-5"></div>
    
    {{ form_start(form) }}
    {{ form_end(form) }}

{% endblock %}
