{% extends 'layouts/admin.html.twig' %}

{% block title %}Hello AdminPostCategoryController!{% endblock %}

{% block body %}
    <h2>Create a Post </h2>


    <div class="dropdown-divider mt-3 mb-5"></div>
    
    {{ form_start(form) }}
    {{ form_end(form) }}
{% endblock %}
